
name: Update explorer and fetch new data

on:
  schedule:
    - cron: "5 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v1
      - uses: r-lib/actions/setup-pandoc@v1
      - name: Install curl
        run: |
          sudo apt install libcurl4-openssl-dev
      - name: Install dependencies
        run: |
          Rscript -e "install.packages(c('flexdashboard','dplyr', 'httr', 'rtweet', 'reactable', 'lubridate', 'DT', 'shiny', 'echarts4r'))"
      - name: Environment data
        env:
          API_KEY: ${{ secrets.API_KEY }}
          API_SECRET_KEY: ${{ secrets.API_SECRET_KEY }}
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          ACCESS_TOKEN_SECRET: ${{ secrets.ACCESS_TOKEN_SECRET }}
        run: |
          Rscript -e "rmarkdown::render('./explorer.Rmd')"
      - name: Update repository
        run: |
          git pull
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add ./explorer.html
          git add ./data/tweets.csv
          git commit -am "Update explorer.html" 
          git push

